@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  /* background-color: black; */
}

#main-cont {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#map {
  flex: 1.75;
}

#info-col {
  flex: 1;
  font-size: 2em;
  color: black;
  background-color: black;
  box-shadow: -10px 0px 10px 1px #aaaaaa;
  color: white;
  display: flex;
  flex-direction: column;
}

#er-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#prec-info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#county-name {
  margin: 0 0.5rem;
  color: white;
  font-size: 20pt;
}
#symbol {
  color: white;
  font-size: 20pt;
}
#prec-name {
  margin: 0 0.5rem;
  color: white;
  font-size: 20pt;
}
#tot-votes {}

#votes-cont {
  padding: 1rem 0;
}

.cand-line {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 12pt;
}

.vote-progress-bar {
  display: inline-block;
  height: 12px;
}

.percentage {
  margin-left: 0.5rem;
}

#contest-select {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 14pt;
}

.contest {
  margin-bottom: 1rem;
  margin-left: 1rem;
}



