/* @import "/node_modules/ol/ol.css"; */

html, body {
  margin: 0;
  height: 100%;
  /* background-color: black; */
  font-family: sans-serif;
  font-weight: 400;
}

.flex-row {
  display: flex;
}

/*#region ELECTION RESULTS*/

#main-cont {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#left-column {
  background-color: black;
  width: 3.5vw;
}

#map {
  width: 63vw;
}

#contest-name {
  position: absolute;
  left: 6vw;
  z-index: 1;
  font-size: 4em;
  font-weight: 800;
  color: black;
}

#prec-modal {
  position: absolute;
  left: 4vw;
  top: 6em;
  z-index: 1;
  font-size: 1em;
  color: black;
  background-color: white;
  width: 15vw;
  height: 27.5vh;
  display: none;
}

#modal-pname {

}

#info-col {
  width: 33.5vw;
  display: flex;
  flex-direction: column;

  padding-left: 2em;

  color: black;
  background-color: black;
  box-shadow: -10px 0px 10px 1px #aaaaaa;
  color: white;
}

#year-container {
  display: flex;
  flex: 0.75;
  justify-content: space-between;
  align-items: center;
}
#year-container > p {
  font-size: 1.5em;
  font-weight: 800;
  color: lightgray;
  text-decoration: underline;
  text-decoration-color: white;
}
#year-container > button {
  margin-right: 1em;
}

#er-info {
  padding-left: 2em;
  flex: 3;
  display: flex;
  flex-direction: column;
}

#prec-info-line {
  margin: 2.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#county-name {
  margin: 0 0.5rem 0 0;
  color: white;
  font-size: 1.25em;
  font-weight: 800;
}
#symbol {
  color: white;
  font-size: 1.25em;
}
#prec-name {
  margin: 0 0 0 0.5rem;
  color: white;
  font-size: 1.25em;
  font-weight: 800;
}
#tot-votes {
  margin: 0 6rem 0 0;
  color: white;

  font-size: 1.1em;
}

#votes-cont {
}

.cand-line {
  font-size: 0.85rem;
  display: flex;
  color: lightgray;
  justify-content: space-between;
  padding-right: 1rem;
}

.vote-progress-bar {
  display: inline-block;
  height: 12px;
}

.percentage {
  margin-left: 0.5em;
}

#select-contest-text {
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.25em 0 0.25em 2rem;
}
#contest-select {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  font-weight: 400;
  padding: 0 2rem;
  margin-top: 0.5em;
}

.contest {
  padding: 0.25em 0;
  color: lightgray;
}
.contest::before {
  content: '- ';
}
.contest:hover {
  cursor: pointer;
  color: white;
  font-weight: 800;
}

#selects-cont {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  flex: 3;
  color: white;
}

#visual-select, #univ-select {
  font-weight: 800;
  width: 65%;
  margin-bottom: 1em;
}



#visual-btn-menu {
  display: flex;
  width: 65%;
  flex-flow: row wrap;
  justify-content: flex-start;
}
#visual-btn-menu > button {
  margin: 0 0.25em;
  display: inherit;
}
/*#endregion */

/*#region CANVASSING */
#side-cont {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#side-left-panel {
  display: flex;
  flex: 4;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
}

#side-left-grid {
  display: grid;
  width: 85%;
  height: 85%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

#side-left-categories-col {

}

#side-left-grid-cat-cont {

}

.side-left-grid-col {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.side-left-grid-col-hdr {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-weight: 900;
  font-size: 2em;
  text-align: end;
}
.side-left-grid-col-hdr > div {
  margin: 0.25em 0;
}

.side-left-grid-item-cont {
  margin: 1.5em 0;
  text-align: end;
}

.side-left-grid-item {
  font-weight: 800;
  font-size: 1.5em;
  margin: 8px 0;
}

#side-right-panel {
  flex: 1;
  background-color: slategray;
}


/*#endregion */

